<% include ../../partials/header %>

<div class="text-center">
    <h1>Hello show here for _id: city!</h1>
    <h1>city: <%= post.city %></h1>
    <img src="<%= post.image %>" style="width:150px; height:100px;">
    <p>price:<%= post.price %></p>
    <p>description: <%= post.desc %></p>
    <p><bold>BY: </bold><%=post.author.username %></p>
</div>

<div class="well">
    <div class="text-right">
        <a class="btn btn-success" href="/us/<%#= state._id %>/newposts/<%= post._id %>/comments/new">Add New Comment</a>
    </div>
    <hr>
    
    <%# campground.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%# =comment.author.username %></strong>
                
            </div>
        </div>
        
    
    <%# }) %> 
    
</div>
<% include ../../partials/footer %>