<% include ../../partials/header %>
<h1 class="text-center" style="color:white;">All States List</h1>

<% states.forEach(function(state){ %>
    <div class="allStatesList">
        <p><%= state.state %> </p>
        <p><%= state.abbreviation %> </p>
        <img style="height:150px;width:150px;" src=" <%= state.image.image_flag %> "> 
        <img style="height:150px;width:150px;" src=" <%= state.image.image_state %> ">
        <a href="/us/<%= state._id %>" class="btn btn-primary">More Info</a>
        <p>credit:  <%= state.image.credit.author %></p>
    </div>
<% }); %>

