show a state here

<% USjsons.forEach(function(usjson){ %>
    <div style="background-color: yellow;">
        <p><%= usjson.state %> </p>
        <p><%= usjson.abbreviation %> </p>
        <img style="height:150px;width:150px;" src=" <%= usjson.image.image_flag %> "> 
        <img style="height:150px;width:150px;" src=" <%= usjson.image.image_state %> "> 
        <p>credit:  <%= usjson.image.credit.author %></p>
    </div>
<% }); %>